<link rel="stylesheet" href="/stylesheets/nav.css" />

<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
    <a href="/" class="navbar-brand px-3">YelpCamp</a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
            <div class="d-flex flex-column flex-lg-row">
                <a href="/" class="nav-link active" aria-current="page">Home</a>
                <a href="/campgrounds" class="nav-link">Campgrounds</a>
                <a href="/campgrounds/new" class="nav-link">New Campground</a>
            </div>
            <div class="d-flex flex-column flex-lg-row">
                <% if(!currentUser) { %>
                <a href="/login" class="nav-link">Log in</a>
                <a href="/register" class="nav-link nav-btn p-3">Sign up</a>
                <% } else { %>
                <a href="/logout" class="nav-link nav-btn p-3">Logout</a>
                <% } %>
            </div>
        </ul>
    </div>
</nav>
